<h2>Nodes</h2>


<nav>
  <ul class="nodes-app">
    <li *ngFor="let stat of status">


      <a [routerLink]="['/nodes/']"
         [queryParams]="{ node_status_id: stat.id }">
        {{stat.name}}
      </a>
    </li>
  </ul>

  <ul class="nodes-app">
    <li *ngFor="let state of states">
      <a [routerLink]="['/nodes/']"
         [queryParams]="{ node_state_id: state.id }">
        {{state.name}}
      </a>
    </li>
  </ul>

</nav>

<ul class="nodes-app">
  <li *ngFor="let node of nodes">
      <span class="badge">{{node.id}}</span> {{node.name}}
      {{node.state}} {{node.status}}
  </li>
</ul>


