#cloud-init
# vim: syntax=yaml

# Openstack cloud parameters these should match your keystone file

clouds:
  <CLOUD_NAME>:
    backend: openstack
    region_name: <REGION_NAME>
    project_domain_name: <DOMAIN_NAME>
    no_cache: 1
    user_domain_name: <DOMAIN_NAME>
    username: <USERNAME>
    password: <PASSWORD>
    project_name: <PROJECT_NAME>
    auth_url: <URL>
     

    ehos:
    # for creating servers 
      project_prefix: EHOS_V1
      flavor: <FLAVOR_NAME>
      image_id: None  #this can be set by the the deploy script if creating a baseimage
      network: <NETWORK_NAME>
      key: <KEY_NAME>
      security_groups: <SECURITY_GROUP>


# global ehos settings, will be overridden by the cloud specif ones, if sat
ehos:
# for creating servers 
  project_prefix: EHOS_V1
  flavor: <FLAVOR_NAME>
  image_id: None  #this will be set by the the deploy script
  network: <NETWORK_NAME>
  key: <KEY_NAME>
  security_groups: <SECURITY_GROUP>


# for tweaking the ehos demon
ehos_daemon:  
  master_cloud: <CLOUD_NAME> #If creating a master node in the cloud 
  submission_nodes: 1 # masternode counts as one of these.
  nodes_max: 6
  nodes_min: 2
  nodes_spare: 2
  sleep_min: 10
  sleep_max: 60

  node_allocation: round-robin # or fill-first


# Condor settings
condor:
  password: None