#cloud-init
# vim: syntax=yaml

# Openstack cloud parameters these should match your keystone file

clouds:
  <CLOUD1_NAME>:
    region_name: <REGION_NAME>
    project_domain_name: <DOMAIN_NAME>
    no_cache: 1
    user_domain_name: <DOMAIN_NAME>
    username: <USERNAME>
    password: <PASSWORD>
    project_name: <PROJECT_NAME>
    auth_url: <URL>
    image: None # This will be set by the deployment script

ehos:
# default variables for creating servers 
  project_prefix: ehos_v1
  flavor: <FLAVOR_NAME, EG: m1.medium>
  image: <BASE OS NAME, EG: GOLD CentOS 7>
  network: None # Will be set by the deployment script
  key: None # Will be set by the deployment script
  security_groups: None # Will be set by the deployment script




# for tweaking the ehos demon behaviour
daemon:

    master_cloud: None # Which cloud to create the master node in, if only using 1 cloud will default to that one
    min_cores: 4
    min_instances: 0
    min_ram: 8
    node_allocation: round-robin

    nodes_max: 6
    nodes_min: 2
    nodes_spare: 2
    sleep: 30



condor:
    host_ip: None  # will be set by the deployment script
    password: None # will be set by the deployment script


