{% extends 'base.html' %}


{% block content %}
<div class="container">

 <br><br>
<h2>Queue status:</h2>

<div class=" progress" style="height: 40px;">

    <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: {{info.queue.idle_p}}%" ><h5>{{info.queue.idle}}</h5></div>
    <div class="progress-bar progress-bar-animated progress-bar-striped bg-danger" role="progressbar" style="width: {{info.queue.running_p}}%" ><h5>{{info.queue.running}}</h5></div>
</div>


<br><br>
<h2>Nodes:</h2>

  {% for node in info.nodes %}
<div class="progress" style="height: 50px;">
  {% if info.nodes[ node ] == 'idle' %}
  <div class="progress-bar  bg-success " role="progressbar" style="width: 100%"><h5>{{node}}</h5></div>
  {% else %}
  <div class="progress-bar  bg-danger " role="progressbar" style="width: 100%" ><h5>{{node}}</h5></div>
  {% endif %} 
</div>
<br>
{% endfor %}

<br>

<div id="reload">0 s</div>
</div>





{% endblock %}

{% block javascript %}
$(function() {
   $( document ).ready(function() {
   var Interval = 1

   setInterval(function time(){

      document.getElementById("reload").innerHTML = Interval +" s"
      Interval++;

   }, 1000); });
});

{% endblock %}
